<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>form handling</h1>
    <form action="/form-sumbit" method ="post">
        name <input type = "text" name = "name" placeholder="enter your name">
        <br>
        <br>
        name <input type = "text" name = "email" placeholder="email">
        <br>
        <button type = "submit">sumbit </button>
    </form>
</body>
</html>